.svg-wrapper {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.svg-point:hover {
    /* background-color: red; */
    cursor: pointer;
}
.svg-points {

}
.svg-sheet {
    border-width: 3px;
}
.path-selectable {
    cursor: pointer;
}